[run]
omit =
    *migrations*
    *admin*
    *__init__.py
    *apps.py
    */cover/*
    */dashboard/models.py


[report]
show_missing = True
omit =
    *migrations*
    *admin*
    *__init__.py
    *apps.py
    */cover/*
    */dashboard/models.py
