{% extends 'base.html' %}

{% load json_filter %}

{% block title %}IOT Dashboard{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container" style="padding-top: 40px">
    <div class="row">
        <div class="col-1">
            <div class="container" style="margin-top: 22px">
            </div>
        </div>
        <div class="col-10">
            <div class="card border-0 rounded" style="margin-top: 20px">
                <div class="card-body ">
                    <span>Current Temperature in Celcius<span id="temp"></span></span>
                    <span>Current Humidity in Pascals<span id="humid"></span></span>
                </div>

            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1">
            <div class="container" style="margin-top: 22px">
            </div>
        </div>
        <div class="col-5">
            <div class="card border-0 rounded" style="margin-top: 20px">
                <div class="card-body ">
                    <div id="chart1"></div>
                </div>

            </div>
        </div>
        <div class="col-5">
            <div class="card border-0 rounded" style="margin-top: 20px">
                <div class="card-body ">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>
{{ feeds|json_script:"feeds_data" }}
<script src="https://d3js.org/d3-time.v1.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    // data received from backend server
    var data = JSON.parse(document.getElementById('feeds_data').textContent);
    console.log(data);

    // pass a function to map
    const map1 = data.map(function (d) {
        return {created_at: new Date(d.created_at), field1: d.field1, field2: d.field2}
    });

    console.log(map1);
    // Dimensions and margins of the graph
    var margin = {top: 10, right: 30, bottom: 30, left: 50},
        width = 400 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    // add svg object to the web page
    var svg = d3.select("#chart1")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // add p object to the web page
    var p = d3.select("#temp")
        .append("p")
        .style("text-anchor", "middle")
        .text(map1[19].field1)
        .style("color", "red");

    var p1 = d3.select("#humid")
        .append("p")
        .style("text-anchor", "middle")
        .text(map1[19].field2)
        .style("color", "blue");


    var x = d3.scaleTime()
        .domain(d3.extent(map1, function (d) {
            return d.created_at;
        }))
        .range([0, width]);
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add Y axis
    var y = d3.scaleLinear()
        .domain([0, d3.max(map1, function (d) {
            return +d.field1;
        })])
        .range([height, 0]);
    svg.append("g")
        .call(d3.axisLeft(y));

    // Add the line
    svg.append("path")
        .datum(map1)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
            .x(function (d) {
                return x(d.created_at)
            })
            .y(function (d) {
                return y(d.field1)
            })
        );
    // text label for the y axis
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Temperature");

    // text label for the x axis
    svg.append("text")
        .attr("transform",
            "translate(" + (width / 2) + " ," +
            (height + margin.top + 20) + ")")
        .style("text-anchor", "middle")
        .text("Time in minutes");

    // add svg object to the web page
    var svg1 = d3.select("#chart2")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");


    var x1 = d3.scaleTime()
        .domain(d3.extent(map1, function (d) {
            return d.created_at;
        }))
        .range([0, width]);
    svg1.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add Y axis
    var y1 = d3.scaleLinear()
        .domain([0, d3.max(map1, function (d) {
            return +d.field2 + 10;
        })])
        .range([height, 0]);
    svg1.append("g")
        .call(d3.axisLeft(y1));

    // Add the line
    svg1.append("path")
        .datum(map1)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
            .x(function (d) {
                return x(d.created_at)
            })
            .y(function (d) {
                return y1(d.field2)
            })
        );
    // text label for the y axis
    svg1.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Humidity");

    // text label for the x axis
    svg1.append("text")
        .attr("transform",
            "translate(" + (width / 2) + " ," +
            (height + margin.top + 20) + ")")
        .style("text-anchor", "middle")
        .text("Time in minutes");
</script>
{% endblock %}
